<h1 mat-dialog-title>Новая задача</h1>

<form mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <input matInput [(ngModel)]="createdTextTodo" formControlName="taskName"  placeholder="Название задачи">
        <mat-error *ngIf="form.get('taskName')?.hasError('required')">
            &#171;Название задачи&#187; является обязательным.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-select [(ngModel)]="selectedCategory" formControlName="category" placeholder="Категория">
            <ng-container *ngFor="let card of data.titles">
                <mat-option value="{{card.title}}">
                    {{card.title}}
                </mat-option>
            </ng-container>

            <mat-option value="nw">Новая категория</mat-option>
        </mat-select>

        <mat-error *ngIf="form.get('category')?.hasError('required')">
            &#171;Категория&#187; является обязательным.
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="selectedCategory === 'nw'">
        <input matInput [(ngModel)]="createdTextTask" formControlName="newCategory" placeholder="Название категории">
        
        <mat-error *ngIf="form.get('newCategory')?.hasError('required');">
            &#171;Название категории&#187; является обязательным.
        </mat-error>
        <mat-error *ngIf="form.get('newCategory')?.hasError('minlength')">
            &#171;Название категории&#187; должно иметь как минимум 3 символа.
        </mat-error>
    </mat-form-field>
</form>

<div mat-dialog-actions>
    <button mat-button class="btn" (click)="onNoClick()">Отмена</button>
    <button mat-button class="btn create" (click)="createTodo()" [disabled]="!form.valid">Ok</button>
</div>