<h1 mat-dialog-title>Новая задача</h1>

<div mat-dialog-content>
    <mat-form-field appearance="fill">
        <input matInput [(ngModel)]="createdTextTodo" placeholder="Название задачи">
    </mat-form-field>

    <mat-form-field>
        <mat-select [(ngModel)]="selectedCategory" placeholder="Категория">
            <ng-container *ngFor="let card of data.titles">
                <mat-option value="{{card.title}}">
                    {{card.title}}
                </mat-option>
            </ng-container>

            <mat-option value="new">Новая категория</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="selectedCategory === 'new'">
        <input matInput 
               placeholder="Название категории"
               [(ngModel)]="createdTextTask">
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-button class="btn" (click)="onNoClick()">Отмена</button>
    <button mat-button class="btn create" (click)="createTodo()">Ok</button>
</div>