:host {
    display: flex;
    flex-direction: column;
}

.cards-list {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-bottom: 40px;
    column-gap: 30px;
    row-gap: 40px;
}

// app-cards {
//     width: calc( ( 100% - 40px ) / 4 );
//     margin-bottom: 30px;
    
//     &:nth-child(even) {
//         margin-left:40px;
//         margin-right:40px;
//     }
// }