/* @import '@angular/material/prebuilt-themes/indigo-pink.css'; */
@import '~normalize.css';

html, body { height: 100%; }
body {
    font-family: 'Roboto', 'Noto', sans-serif;
    line-height: 1.5;
    min-height: 100vh;
    background: #f2f2f2;
}