:host {
    display: flex;
}

.card {
    width: 370px;
    border: 1px solid #d2d2d2;    

    mat-card-title {
        font-size: 20px;
        margin-bottom: 12px;
        text-transform: uppercase;
    }

    mat-card-content:first-of-type {
        margin-top: 30px;
    }

    ::ng-deep mat-checkbox .mat-checkbox-label {
        white-space: normal;
    }

    ::ng-deep .mat-checkbox-checked {
        text-decoration:line-through;
    }

    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
        opacity: 0.03 !important;
        background-color: #3aafda!important;
    }
    
    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
        background-color: #3aafda;
    }
}

@media (max-width: 500px) {
    .card {
        width: 300px;
    }
}

@media (max-width: 380px) {
    .card {
        width: 250px;
    }
}